<div class="row">
    <div class="col-md-4 col-md-5 col-xs-12">
      <div class="row">
        <div class="col-xs-3">
          Name:
        </div>
        <div class="col-xs-9">
          LifeInsurance
        </div>
        <div class="col-xs-3">
          Cost:
        </div>
        <div class="col-xs-9">
          87798
        </div>
        <div class="col-xs-3">
          PolicyTypeId:
        </div>
        <div class="col-xs-9">
          vxy459
        </div>
        <div class="mt-5">
            <button class="btn btn-primary" [routerLink]="['../edit-policy']">
            <i class="bi bi-pencil"></i>
              Edit
            </button>
          </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-7 col-xs-12">
      <p class="Description">Whoever you are, whatever your need, LIC has a Life Insurance plan for you.  The No. 1 Life Insurance provider. Trusted by millions of Indians for generations. Peace of mind. Buy Online. Death & Maturity Benefit! Investment Flexibility.</p>
    </div>
  </div>

