<div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-lg-6 py-3">
        <!-- Section Heading-->
        <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          <h3 class="display-4">Admin Dashboard</h3>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="row py-3">
      <!-- Single Advisor-->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          <!-- Team Thumb-->
          <div class="advisor_thumb" [routerLink]="['../get-users']" ><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" style="cursor: pointer;">
          </div>
          <!-- Team Details-->
          <div class="single_advisor_details_info">
            <h6>Users</h6>
          </div>
        </div>
      </div>
      <!-- Single Advisor-->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
          <!-- Team Thumb-->
          <div class="advisor_thumb" [routerLink]="['../get-employees']" ><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" style="cursor: pointer;" >
          </div>
          <!-- Team Details-->
          <div class="single_advisor_details_info">
            <h6>Employees</h6>
          </div>
        </div>
      </div>
      <!-- Single Advisor-->
      <div class="col-12 col-sm-6 col-lg">
        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
          <!-- Team Thumb-->
          <div class="advisor_thumb" [routerLink]="['../get-policies']" ><img src="https://p.kindpng.com/picc/s/207-2071450_documents-icon-documents-icon-png-transparent-png.png" alt="" style="cursor: pointer; height: 315px;">
          </div>
          <!-- Team Details-->
          <div class="single_advisor_details_info">
            <h6>Policies</h6>
          </div>
        </div>
      </div>
    </div>
  </div>