<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
      <div class="col-md-3">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span> </span>
          </div>
      </div>
      <div class="col-md-9">
        <div class="py-5">
          <h4 class="display-4">User Details</h4><hr>
          <div class="row mt-5">
            <div class="col-sm-3">
              <label class="labels">Full Name</label>
            </div>
            <div class="col-sm-9 text-secondary">
                {{user.FirstName+" "+user.LastName}}
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-sm-3">
              <label class="labels">Email</label>
            </div>
            <div class="col-sm-9 text-secondary">
                {{user.Email}}
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-sm-3">
              <label class="labels">Gender</label>
            </div>
            <div class="col-sm-9 text-secondary">
                {{user.Gender}}
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-sm-3">
              <label class="labels">Phone Number</label>
            </div>
            <div class="col-sm-9 text-secondary">
                {{user.PhoneNumber}}
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-sm-3">
              <label class="labels">Date Of Birth</label>
            </div>
            <div class="col-sm-9 text-secondary">
                {{user.UserDetails.DateOfBirth}}
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-sm-3">
              <label class="labels">Martial Status</label>
            </div>
            <div class="col-sm-9 text-secondary">
                {{user.UserDetails.MartialStatus}}
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-sm-3">
              <label class="labels">Occupation</label>
            </div>
            <div class="col-sm-9 text-secondary">
                {{user.UserDetails.Occupation}}
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-3">
              <label class="labels">Salary</label>
            </div>
            <div class="col-sm-9 text-secondary">
                {{user.UserDetails.Salary}}
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-sm-3">
              <label class="labels">Aadhar Number</label>
            </div>
            <div class="col-sm-9 text-secondary">
                {{user.UserDetails.AadharNumber}}
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-sm-3">
              <label class="labels">Pan Number</label>
            </div>
            <div class="col-sm-9 text-secondary">
                {{user.UserDetails.PanNumber}}
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-3">
              <label class="labels">Address</label>
            </div>
            <div class="col-sm-9 text-secondary">
              {{user.UserDetails.Address.StreetAddressLine1}}
              {{user.UserDetails.Address.StreetAddressLine1}}
              {{user.UserDetails.Address.ZipCode}}
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-sm-3">
              <label class="labels">City</label>
            </div>
            <div class="col-sm-9 text-secondary">
              {{user.UserDetails.Address.City}}
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-sm-3">
              <label class="labels">State</label>
            </div>
            <div class="col-sm-9 text-secondary">
              {{user.UserDetails.Address.State}}
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-sm-3">
              <label class="labels">Policy</label>
            </div>
            <div class="col-sm-9 text-secondary">
              {{user.UserDetails.Policy.Name}}
            </div>
          </div>
            
            <div class="mt-5">
              <button class="btn btn-primary" [routerLink]="['../edit-user']" [queryParams]="{id:user.Id}">
              <i class="bi bi-pencil"></i>
                Edit
              </button>
            </div>
            
         </div>
       </div>
  </div>
</div>

