<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
      <div class="col-md-3">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span> </span>
          </div>
      </div>
      <div class="col-md-9">
        <div class="py-5">
          <h4 class="display-4">User Details</h4><hr>
          <div class="row mt-5 ml-5">
            <div class="col-sm-3">
              <label class="labels">Full Name</label>
            </div>
            <div class="col-sm-9 text-secondary">
                {{user.FirstName+" "+user.LastName}}
            </div>
          </div>
          
          <div class="row ml-5">
            <div class="col-sm-3">
              <label class="labels">Email</label>
            </div>
            <div class="col-sm-9 text-secondary">
                {{user.Email}}
            </div>
          </div>
          
          <div class="row ml-5">
            <div class="col-sm-3">
              <label class="labels">Gender</label>
            </div>
            <div class="col-sm-9 text-secondary">
                {{user.Gender}}
            </div>
          </div>
          
          <div class="row ml-5">
            <div class="col-sm-3">
              <label class="labels">Phone Number</label>
            </div>
            <div class="col-sm-9 text-secondary">
                {{user.PhoneNumber}}
            </div>
          </div>
          
          <div *ngIf="!userDetails.UserId">
            <h1 class="display-6">User Has Not Updated Their Profile Yet!!</h1>
          </div>
          <div *ngIf="userDetails.UserId">
            <div class="row ml-5" *ngIf="userDetails.DateOfBirth">
              <div class="col-sm-3">
                <label class="labels">Date Of Birth</label>
              </div>
              <div class="col-sm-9 text-secondary">
                  {{userDetails.DateOfBirth}}
              </div>
            </div>
            
            <div class="row ml-5" *ngIf="userDetails.MartialStatus">
              <div class="col-sm-3">
                <label class="labels">Martial Status</label>
              </div>
              <div class="col-sm-9 text-secondary">
                  {{userDetails.MartialStatus}}
              </div>
            </div>
            

            <div class="row ml-5" *ngIf="userDetails.Occupation">
              <div class="col-sm-3">
                <label class="labels">Occupation</label>
              </div>
              <div class="col-sm-9 text-secondary">
                  {{userDetails.Occupation}}
              </div>
            </div>
            
            <div class="row ml-5" *ngIf="userDetails.Salary">
              <div class="col-sm-3">
                <label class="labels">Salary</label>
              </div>
              <div class="col-sm-9 text-secondary">
                  {{userDetails.Salary}}
              </div>
            </div>
            

            <div class="row ml-5" *ngIf="userDetails.AadharNumber" >
              <div class="col-sm-3">
                <label class="labels">Aadhar Number</label>
              </div>
              <div class="col-sm-9 text-secondary">
                  {{userDetails.AadharNumber}}
              </div>
            </div>
            

            <div class="row ml-5" *ngIf="userDetails.PanNumber">
              <div class="col-sm-3">
                <label class="labels">Pan Number</label>
              </div>
              <div class="col-sm-9 text-secondary">
                  {{userDetails.PanNumber}}
              </div>
            </div>
            
            <div class="row ml-5" *ngIf="userDetails.StreetAddressLine1 ">
              <div class="col-sm-3">
                <label class="labels">Address Line 1</label>
              </div>
              <div class="col-sm-9 text-secondary">
                {{userDetails.StreetAddressLine1}}
              </div>
            </div>
            
            <div class="row ml-5" *ngIf="userDetails.StreetAddressLine2 ">
              <div class="col-sm-3">
                <label class="labels">Address Line 2</label>
              </div>
              <div class="col-sm-9 text-secondary">
                {{userDetails.StreetAddressLine2}}
              </div>
            </div>
            
            <div class="row ml-5" *ngIf="userDetails.ZipCode">
              <div class="col-sm-3">
                <label class="labels">Zip Code</label>
              </div>
              <div class="col-sm-9 text-secondary">
                {{userDetails.ZipCode}}
              </div>
            </div>
            
            <div class="row ml-5" *ngIf="userDetails.City">
              <div class="col-sm-3">
                <label class="labels">City</label>
              </div>
              <div class="col-sm-9 text-secondary">
                {{userDetails.City}}
              </div>
            </div>
            
            <div class="row ml-5" *ngIf="userDetails.State">
              <div class="col-sm-3">
                <label class="labels">State</label>
              </div>
              <div class="col-sm-9 text-secondary">
                {{userDetails.State}}
              </div>
            </div>
            
            <div class="row ml-5" *ngIf="userDetails.Policy.Name">
              <div class="col-sm-3">
                <label class="labels">Policy Name</label>
              </div>
              <div class="col-sm-9 text-secondary">
                {{userDetails.Policy.Name}}
              </div>
            </div>
            
            <div class="row ml-5" *ngIf="userDetails.Policy.PolicyType">
              <div class="col-sm-3">
                <label class="labels">Policy Type</label>
              </div>
              <div class="col-sm-9 text-secondary">
                {{userDetails.Policy.PolicyType}}
              </div>
            </div>
            
            <div class="row ml-5" *ngIf="userDetails.TenureOfPolicy">
              <div class="col-sm-3">
                <label class="labels">Tenure Of Policy</label>
              </div>
              <div class="col-sm-9 text-secondary">
                {{userDetails.TenureOfPolicy}}
              </div>
            </div>

            <div class="row ml-5" *ngIf="userDetails.TenureOfPolicy && userDetails.Policy.Id">
              <div class="col-sm-3">
                <label class="labels">Total Policy Cost</label>
              </div>
              <div class="col-sm-9 text-secondary">
                {{userDetails.Policy.Cost * userDetails.TenureOfPolicy}}
              </div>
            </div>
            </div>
            
            <div class="mt-5">
              <button class="btn btn-lg btn-primary mr-5" [routerLink]="['../edit-user']" [queryParams]="{id:user.Id}">
              <i class="bi bi-pencil"></i>
                Edit
              </button>
            </div>
            <div class="mt-5">
              <button class="btn btn-lg btn-outline-secondary mr-5" [routerLink]="['../get-users']">
              <i class="bi bi-arrow-return-left"></i>
                Back To User List
              </button>
            </div>
            
         </div>
       </div>
  </div>
</div>

