<div class="registration-form">
    <form [formGroup]="employeeForm" #f="ngForm">
        <div class="form-icon">
            <span><i class="bi bi-person"></i></span>
        </div>
        <div class="form-group">
            <div class="err-msg" *ngIf="f.submitted && employeeForm.controls.FirstName.errors">Please Enter a Valid Name :</div>
            <input formControlName="FirstName" type="text" class="form-control item" id="name" placeholder="Name" [ngClass]="{'valid-data':f.submitted && !employeeForm.controls.FirstName.errors, 'invalid-data':f.submitted && employeeForm.controls.FirstName.errors}">
        </div>
        <div class="form-group">
            <div class="err-msg" *ngIf="f.submitted && employeeForm.controls.LastName.errors">Please Enter a Valid Name :</div>
            <input formControlName="LastName" type="text" class="form-control item" id="name" placeholder="Name" [ngClass]="{'valid-data':f.submitted && !employeeForm.controls.LastName.errors, 'invalid-data':f.submitted && employeeForm.controls.LastName.errors}">
        </div>
        <div class="form-group">
            <div class="err-msg" *ngIf="f.submitted && employeeForm.controls.Email.errors">Please Enter a Valid Email :</div>
            <input formControlName="Email" type="email" class="form-control item" id="email" placeholder="Email" [ngClass]="{'valid-data':f.submitted && !employeeForm.controls.Email.errors && employeeForm.controls.Email.value, 'invalid-data':f.submitted && employeeForm.controls.Email.errors}">
        </div>
        <div class="form-group form-check form-switch">
            <input formControlName="MartialStatus" type="checkbox" class="form-check-input item" id="MartialStatus">
            <label for="MartialStatus" class="form-check-label">Martial Status</label>
        </div>
        <div class="form-group"></div>
        <div class="form-group">
            <button type="submit" *ngIf="!id" class="btn btn-block btn-primary" (click)="createEmployee()">Create employee</button>
            <button type="submit" *ngIf="id" class="btn btn-block btn-success" (click)="editemployee()">Save employee</button>
        </div>
    </form>
</div>