<div class="about-section lic-content">
    <h1 class="display-1">About Us</h1>
	<hr>
	<div class="row mt-5">
		<div class="col-md-6">
			<img src="assets/images/life.jpg"class="img-fluid">
		</div>
		<p class="col-md-5 ">
			Every day we wake up to the fact that more than 250 million lives are part of our family called LIC.

			We are humbled by the magnitude of the responsibility we carry and realise the lives that are associated with us are very valuable indeed.
			
			Though this journey started over six decades ago, we are still conscious of the fact that, while insurance may be a business for us, being part of millions of lives every day for the past 65 years has been a process called TRUST.
			
			A true saga Of Trust.
		</p>
		
	</div>
  
	<br>
	<br>
  
  <h2 style="text-align:center">Our Team</h2>
  <br>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="assets/images/allthings.how-how-to-change-your-profile-picture-on-google-meet-profile-photo-759x427.webp" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Rahul Sharma</h2>
          <p class="title">CEO & Founder</p>
          <p>Hi, Hope you are having a smooth journey with us. Feel free to reach our team. We hope to provide you support!</p>
          <p>rahul@jasmine.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets/images/allthings.how-how-to-change-your-profile-picture-on-google-meet-profile-photo-759x427.webp" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Arjun Mehra</h2>
          <p class="title">General Manager</p>
          <p>Hi, Hope you are having a smooth journey with us. Feel free to reach our team. We hope to provide you support!</p>
          <p>arjun@jasmine.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets/images/allthings.how-how-to-change-your-profile-picture-on-google-meet-profile-photo-759x427.webp" alt="John" style="width:100%">
        <div class="container">
          <h2>Manish Sen</h2>
          <p class="title">Deputy Manager</p>
          <p>Hi, Hope you are having a smooth journey with us. Feel free to reach our team. We hope to provide you support!</p>
          <p>manish@jasmine.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
