<div class="jumbotron lic-content">
  <div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					<h3>Every day we wake up to the fact that more than 250 million lives are part of our family called lws.</h3>

<p>We are humbled by the magnitude of the responsibility we carry and realise the lives that are associated with us are very valuable indeed.

Though this journey started over six decades ago, we are still conscious of the fact that, while insurance may be a business for us, being part of millions of lives every day for the past 65 years has been a process called TRUST.</p>

<h1>A true saga Of Trust.</h1>
<div class="button">
	<a href="">Read More</a>
</div>
<div class="social">
	<a href=""><i class="fab fa-facebook-f"></i></a>
	<a href=""><i class="fab fa-twitter"></i></a>
	<a href=""><i class="fab fa-instagram"></i></a>
</div>
</div>
<div class="image-section">
	<img src="photo.jpg">
</div>
</div>
</div>
</div>
</body>
</html>

  
</div>
