.card{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    border: 2px solid rgb(243, 81, 6);
    border-radius: 50px;
}

.invalid-data{
    border: 2px solid red;
}

.valid-data{
    border: 2px solid green;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin:0;
}