@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.img{
  background: url('https://media.istockphoto.com/photos/insurance-protecting-family-health-live-house-and-car-concept-picture-id1202095009?k=20&m=1202095009&s=612x612&w=0&h=_L2uP2jj3tzX5LW66m9IkDxu8zwOj2Jp17ZHIQ8fiRk=')no-repeat;
  width: 100%;
  height: 100vh;
  border-radius: 50px;
  background-size: cover;
  background-position: center;
  position: relative;
  height:max-content;
}
.a{
  margin-top: 10px;
}
.title{
  color: black;
  font-size: x-large;
  font-family: sans-serif;
}
.sub_title{
  color: black;
  font-size: xx-large;
  font-weight: bold;
}
.btn{
  margin: 20px;
}

