<div class="lic-content">
  <div class="img">
      <div class="title" style="padding-top: 20px;">Largest public sector general insurance company of India. </div>
      <div class="title">New India Assurance operates both in India and foreign countries. </div>
      <div class="title">    Buy or renew insurance online.</div>
      <br>
      <br>
      <br>
      <div class="sub_title">Stay safe and healthy!</div>
      <div class="sub_title">Renew your policies online from the comfort of your home !</div>
      <button class="btn btn-lg btn-info">Learn More</button>
  </div>
  </div>
  