<div class="lic-content">
    <div class="img"></div>
    <div class="center">
      <div class="title">Largest public sector general insurance company of India. </div>
        <div class="title">New India Assurance operates both in India and foreign countries. </div>

        <div class="title">    Buy or renew insurance online.</div>
        <br>
        <br>
        <br>
      <div class="sub_title">Stay safe and healthy!</div>
        <div class="sub_title">Renew your policies online from the comfort of your home !</div>
      <div class="btns">
        <button>Learn More</button>
      </div>
    </div>
    </div>
  