<div class="row">
    <div class="col-xl-8">
        <!-- User details -->
        <div class="card mb-4">
            <div class="card-header">Policy Details</div>
            <div class="card-body">
                <form>
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">

                        <div class="col-md-6">
                            <label class="small mb-1" for="inputName">Name</label>
                            <input class="form-control" id="inputName" type="text" placeholder="Enter Name" value="LifeInsurance">
                        </div>
                    </div>
                    <!-- Form Row        -->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group -->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputDescription">Description</label>
                            <input class="form-control" id="inputDescription" type="text" placeholder="Enter Description" value="full description">
                        </div>
                        <!-- Form Group -->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputCost">Cost</label>
                            <input class="form-control" id="inputCost" type="text" placeholder="Enter cost" value="10000">
                        </div>
                    </div>
                    <!-- Form Group -->
                    <div class="mb-3">
                        <label class="small mb-1" for="inputpolicyTypeId">PolicyTypeId</label>
                        <input class="form-control" id="inputPolicyTypeId" type="text" placeholder="Enter policy type id" value="xyz98">
                    </div>

                    <!-- Save changes button-->
                    <button class="btn btn-primary" type="button">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
