<div class="row">
    <div class="col-xl-8">
        <!-- User details -->
        <div class="card mb-4 " style="width: 100%; margin-left:25%"> 
            <div class="card-header text-center">Policy Details</div>
            <div class="card-body">
                <form [formGroup]="policyUpdationForm" #f="ngForm">
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <div>
                            <label class="small mb-1" for="inputName">Policy Name</label>
                            <input class="form-control" id="inputName" type="text" placeholder="Enter Name" formControlName="Name" [ngClass]="{'valid-data':f.submitted && !policyUpdationForm.controls.Name.errors, 'invalid-data':f.submitted && policyUpdationForm.controls.Name.errors}">
                        </div>
                    </div>
                    <!-- Form Row        -->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group -->
                        <div>
                            <label class="small mb-1" for="inputDescription">Policy Description</label>
                            <input class="form-control" id="inputDescription" type="text" placeholder="Enter Description" formControlName="Description" [ngClass]="{'valid-data':f.submitted && !policyUpdationForm.controls.Description.errors, 'invalid-data':f.submitted && policyUpdationForm.controls.Description.errors}">
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <!-- Form Group -->
                        <div class="col-md">
                            <label class="small mb-1" for="inputpolicyType">Policy Type</label>
                            <input class="form-control" id="inputPolicyType" type="text" placeholder="Enter policy type" formControlName="PolicyType" [ngClass]="{'valid-data':f.submitted && !policyUpdationForm.controls.PolicyType.errors, 'invalid-data':f.submitted && policyUpdationForm.controls.PolicyType.errors}">
                        </div>
                        <!-- Form Group -->
                        <div class="col-md">
                            <label class="small mb-1" for="inputCost">Cost</label>
                            <input class="form-control" id="inputCost" type="text" placeholder="Enter cost" formControlName="Cost" [ngClass]="{'valid-data':f.submitted && !policyUpdationForm.controls.Cost.errors, 'invalid-data':f.submitted && policyUpdationForm.controls.Cost.errors}">
                        </div>
                    </div>
                    <!-- Form Group -->
                    

                    <!-- Save changes button-->
                    <button *ngIf="this.id" class="btn btn-primary" type="submit" (click)="onUpdatePolicy()" style="margin-left: 43%;">Update Policy</button>
                    <button *ngIf="!this.id" class="btn btn-primary" type="submit" (click)="onAddPolicy()" style="margin-left: 43%;">Add Policy</button>
                </form>
            </div>
        </div>
    </div>
</div>
